.wrapper {
  background: linear-gradient(
    90deg,
    #bd2861 1%,
    #a11649 18%,
    #6b1225 36%,
    #17030c 51%,
    #000 55% 100%
  );
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-flow: column;
}
