@import 'tailwindcss';

@font-face {
  font-family: 'Goosberry';
  src: url('./assets/fonts/goosberry_version_02.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'ZnikomitNo25';
  src: url('./assets/fonts/ZnikomitNo25.otf') format('opentype');
  font-weight: 700;
}

@layer base {
  body {
    background-color: transparent;
  }
}

:root {
  font-family: Inter, system-ui, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
#root {
  min-height: 100vh;
  font-family: 'ZnikomitNo25', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

p {
  font-family: 'Goosberry', sans-serif;
  color: #5f6b85;
}

::placeholder {
  color: #383333;
  /* font-size: 12px; */
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style: none;
}

input:focus::placeholder {
  opacity: 0;
}
/* 
@media (width: 1680px) {
  html {
    font-size: 24px;
  }
  h1,
  h2,
  p {
    font-size: 24px;
  }
} */
